<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container{
			display: flex;
			border: 3px solid green;
			
			margin: 0 auto;
			justify-content: space-between;
			flex-direction: column;
			flex-wrap: wrap-reverse;

			
		}
		.left-side,
		.right-side{
			width: 40%;
		}
		
	</style>
</head>
<body>
	<div class="container">
	    <div class="left-side">
			<h1>Flex Left Side</h1>
		<p>This image is floated to the right </p>
	    </div>
		<div class="right-side">
			<h1>Flex Center Side</h1>
		<p >This image is floated to the right.It is also taller than the element </p>
	    </div>
		<div class="right-side">
			<h1>Flex Right Side</h1>
		<p >This image is floated to the right.It is also taller than the element </p>
	    </div>
	</div>

</body>
</html>